.tag-editor__field-section.tag-editor__field-section--general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    gap: 10%;
}

.tag-editor__field-section.tag-editor__field-section--bilingual {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.tag-editor__field.tag-editor__field--span {
    grid-row: span 2;
}

@media screen and (max-width: 600px) {
    .tag-editor__field-section.tag-editor__field-section--bilingual {
        display: flex;
        flex-direction: column;
    }
    
    .tag-editor__field-section.tag-editor__field-section--general {
        display: flex;
        flex-direction: column;
    }
}